---
layout: archive
title: "Astrophotography"
permalink: /portfolio/
author_profile: true
---

<h1>Introduction</h1>
Hey! Thank you for your interest in my astrophotography! I have been obsessed with space and the night sky since I was a kid, and I recently decided to learn how to capture the wonders of the night sky. This page is all about this learning experience.<br>

If you like what you see here, I would be honored if you followed my Instagram <a href="www.instagram.com/koalatea_skygazer">@koalatea_stargazer</a>. New images will be uploaded there first. <br>

Otherwise: Enjoy! <br>

<h1>Recent Images</h1>

{% include base_path %}


{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %}

